:root{
    --red:crimson;
    --green:#53BF9D;
    --yellow:#FFC54D;
    --white:whitesmoke;
}

body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.landing{
    background-image: url(avengers.jpg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: var(--green);
}

header a{
    text-decoration: none;
    color:var(--white)

}

header{
    display: flex;
    padding: 1em;
}

#logo{
    flex:2;
    font-size: 1.30em;
}

nav{
    flex:4;
    display: flex;

}

nav a:hover{
    color:var(--green)

}

.maintext{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    padding: 2em;

}

.tagline1{
    color:var(--white);
    font-size:2.5em;
    font-weight: bolder;

}

.tagline2{
    color:var(--yellow)
    

}

.maintext div{
    margin-top:.75em;
}
.maintext button{
    width:20vw;
    margin-top: 2em;
    border-radius: 10px;
    padding: .7em;
    background-color: var(--green);
    color: var(--white);
    border:1px solid var(--green)

}

.menu{
    display: grid;
    background:linear-gradient(to right,rgb(100,100,100),rgb(213, 250, 143));
    color:var(whitesmoke);
}

#menuheading,#locheading{
    background:linear-gradient(to right,rgb(100,100,100),rgb(213,250,143));
    size: 2.5em;
    :var(--red);
}
.element{
    background-image: url(football.jpg);
}


